<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Error · williamtdr</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
	<link href="http://cdn.tdr.moe/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/dist/tdr.min.css" rel="stylesheet">
	<style>
		body {
			color: #fff;
			font-family: "Lato", sans-serif;
			background: url("http://cdn.tdr.moe/williamtdr.com/img/bg_intro_header.jpg") no-repeat bottom center scroll;
			background-size: cover;
			background-color: #000;
		}

		#error > #header {
			font-size: 1.5em;
			margin-bottom: 10px;
			color: #ff5343;
		}

		#error > a {
			display: block;
			margin-top: 15px;
			color: #27ae60;
			text-decoration: none;
			transition: .25s;
		}

		#error > a:hover {
			color: #2ecc71;
		}
	</style>
</head>
<body>

{{{body}}}

</body>
<script src="/dist/tdr.min.js"></script>
</html>