<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>williamtdr</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Lato:300,400" rel="stylesheet">
	<link href="http://cdn.williamtdr.com/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/dist/tdr.min.css" rel="stylesheet">
	{{#each extra_styles}}
		<link href="{{{this}}}" rel="stylesheet">
	{{/each}}
</head>
<body>
<div id="sidebar" class="animsition fade-in-left-sm" data-animsition-in-duration="750">
	<div class="avatar"></div>
	<div class="about">
		<div class="name">William Teder</div>
		<div class="username">williamtdr</div>
		<div class="description">Full stack developer. I like building apps that scale. Lead developer of the Lifeboat Server Network from Aug 2013 - Oct 2015.</div>
	</div>
	<div class="social-links">
		<a class="link-twitter" target="_blank" href="https://twitter.com/williamtdr"><i class="fa fa-twitter"></i></a>
		<a class="link-stackoverflow" target="_blank" href="http://askubuntu.com/users/30405/william"><i class="fa fa-stack-overflow"></i></a>
		<a class="link-github" target="_blank" href="https://github.com/williamtdr"><i class="fa fa-github"></i></a>
		<a class="link-email" target="_blank"><i class="fa fa-envelope-o"></i></a>
	</div>
</div>

{{{body}}}

</body>
<script src="/dist/tdr.min.js"></script>
{{#each extra_scripts}}
	<script src="{{{this}}}" type="text/javascript"></script>
{{/each}}
</html>