<div class="animsition zoom-in-sm container" data-animsition-in-duration="750" style="padding-top: 30px">
	<div id="error">
		<div id="header"><i class="fa fa-exclamation-triangle"></i> Error</div>
		<div id="text">{{error}}</div>
		<a href="/">Return to homepage</a>
	</div>
</div>