<div id="content" class="animsition zoom-in-sm" data-animsition-in-duration="750">
	<h1>My Projects</h1>
	<div class="projects">
		<div class="project">
			<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/iowa.png">
		</div>
		<div class="project">
			<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/labyrinth14.png">
		</div>
		<div class="project">
			<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/animatch.png">
		</div>
		<div class="project">
			<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/totem.png">
		</div>
		<div class="project">
			<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/math_drill.png">
		</div>
		<div class="project">
			<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/flex_schedule.png">
		</div>
		<div class="project">
			<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/spat.png">
		</div>
		<div class="project">
			<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/slidealive.png">
		</div>
		<div class="project">
			<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/lifeboat.png">
		</div>
	</div>
</div>