<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="animsition zoom-in-sm" data-animsition-in-duration="750">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">
				<span class="light">William Teder</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li><a class="page-scroll" href="#about">About</a></li>
				<li><a class="page-scroll" href="#projects">My Projects</a></li>
				<li><a class="page-scroll" href="#activities">Activities</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Intro Header -->
<header class="intro">
	<div class="intro-body">
		<div class="container">
			<div id="intro-right">
				<h1 id="leading-heading" class="intro-heading">Hey, I'm William.</h1>
				<p>
					I'm a software engineer at <b>Microsoft</b> working on the services that power <b>Xbox Game Pass</b>. Previously, I co-founded the <a href="https://lbsg.net">Lifeboat</a> Minecraft: PE server network, one of the game's largest multiplayer systems serving 26M+ MAU.
					Scroll down to see some of my favorite professional and personal projects, or grab a copy of <a href="https://cdn.tdr.moe/resume.pdf" target="_blank">my resumé</a>.
				</p>
				<div class="social-links">
					<a class="link-twitter" target="_blank" href="https://twitter.com/williamtdr"><i class="fa fa-twitter"></i></a>
					<a class="link-stackoverflow" target="_blank" href="http://askubuntu.com/users/30405/william"><i class="fa fa-stack-overflow"></i></a>
					<a class="link-github" target="_blank" href="https://github.com/williamtdr"><i class="fa fa-github"></i></a>
					<a class="link-email" target="_blank"><i class="fa fa-envelope-o"></i></a>
				</div>
			</div>
			<div id="intro-after">
				<a href="#projects" class="btn btn-circle page-scroll">
					<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</header>

<section id="projects" class="text-center">
	<div class="project-section">
		<div class="projects row">
			{{#each projectsByAwesomeness}}
				<div class="col-md-4">
					<a href="/project/{{{this.id}}}" class="project" style="background-image: url('{{{this.thumbnail}}}')">
						<div class="project-footer">
							<div class="project-name">{{this.name}}</div>
							<div class="short-desc">
								{{this.short_desc}}
							</div>
						</div>
					</a>
				</div>
			{{/each}}
		</div>
	</div>
</section>

<section id="activities" class="container content-section text-center">
	<div class="about-section">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1" id="bio-container">
				<div class="col-md-6">
					<h3>Work History</h3>
					<ul class="bio-listing">
						<li>
							<span class="bio-heading">Microsoft</span>
							<div class="bio-content">
								Software Engineer II on the Xbox team working on the services that power Game Pass. While working on the console, I built features like night mode lighting, home theater setup tools, and captive portal flows. Modernized and scaled core backend services, migrated workloads to Kubernetes, and implemented family sharing for Game Pass.
							</div>
						</li>
						<li>
							<span class="bio-heading">Hydreon Corporation</span>
							<div class="bio-content">
								Lead developer for Lifeboat Network, one of the most popular Minecraft PE multiplayer servers. Engineered custom load balancing, performance-optimized game servers, monetization systems, and fleet management for 26M+ monthly players.
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<h3>Hardware & Side Projects</h3>
					<ul class="bio-listing">
						<li>
							<span class="bio-heading">Spideractv</span>
							<div class="bio-content">
								Custom Linux kernel, firmware, and AOSP modifications to repurpose a smartwatch as a vehicle dashboard, enabling BLE telemetry, USB host mode, regenerative braking, and ride tracking.
							</div>
						</li>
					</ul>
					<h3 style="padding-top: 15px">Education</h3>
					<ul class="bio-listing">
						<li>
							<span class="bio-heading">University of Minnesota, Twin Cities</span>
							<div class="bio-content">
								Bachelor’s in Computer Science, 2017–2020.
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container text-center">
		<p>&copy; William Teder 2017-2025. Website source code is available <a href="https://github.com/williamtdr/williamtdr.com" target="_blank">on GitHub</a>.</p>
	</div>
</footer>
</body>
