<div id="content" class="animsition zoom-in-sm" data-animsition-in-duration="750">
	<h1>My Projects</h1>
	<div class="projects">
		<div class="project">
			<a href="/project/harmony">
				<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/harmony.png">
				<div class="project-footer">
					<div class="project-name">Harmony</div>
					<div class="icons">
						<i class="fa fa-clock-o"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="project">
			<a href="/project/iowa">
				<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/iowa.png">
				<div class="project-footer">
					<div class="project-name">I. o. W. A.</div>
					<div class="icons">
						<i class="fa fa-clock-o"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="project">
			<a href="/project/labyrinth14">
				<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/labyrinth14.png">
				<div class="project-footer">
					<div class="project-name">labyrinth14</div>
					<div class="icons">
						<i class="hackathon-24h"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="project">
			<a href="/project/animatch">
				<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/animatch.png">
				<div class="project-footer">
					<div class="project-name">animatch</div>
					<div class="icons">
						<i class="hackathon-24h"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="project">
			<a href="/project/totem">
				<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/totem.png">
				<div class="project-footer">
					<div class="project-name">Totem</div>
				</div>
			</a>
		</div>
		<div class="project">
			<a href="/project/mathdrill">
				<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/math_drill.png">
				<div class="project-footer">
					<div class="project-name">Math Drill</div>
				</div>
			</a>
		</div>
		<div class="project">
			<a href="/project/flexschedule">
				<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/flex_schedule.png">
				<div class="project-footer">
					<div class="project-name">Flexible Schedule</div>
				</div>
			</a>
		</div>
		<div class="project">
			<a href="/project/spat">
				<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/spat.png">
				<div class="project-footer">
					<div class="project-name">Several People are Typing</div>
				</div>
			</a>
		</div>
		<div class="project">
			<a href="/project/slidealive">
				<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/slidealive.png">
				<div class="project-footer">
					<span class="project-name">SlideAlive</span>
					<div class="icons">
						<i class="hackathon-24h"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="project">
			<a href="/project/lifeboat">
				<img src="http://cdn.williamtdr.com/williamtdr.com/thumbnail/lifeboat.png">
				<div class="project-footer">
					<div class="project-name">Lifeboat</div>
				</div>
			</a>
		</div>
	</div>
</div>