<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">
				<span class="light">William Teder</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li>
					<a class="page-scroll" href="#about">About</a>
				</li>
				<li>
					<a class="page-scroll" href="#projects">My Projects</a>
				</li>
				<li>
					<a class="page-scroll" href="#tools">Tools</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
	<div class="intro-body">
		<div class="container">
			<!-- <div id="intro-left">
				<img src="http://cdn.williamtdr.com/avatar.png" id="avatar">
			</div> !-->
			<div id="intro-right">
				<h1 id="leading-heading" class="intro-heading">Hi, I'm William.</h1>
				<p>
					I'm a full stack web developer, utilizing node.js on the server side and HTML5 & CSS3 on the client-side to create interesting and unique web applications. I'm most known for my work on the Lifeboat server network, co-founding it and bringing it to over ten million registered players. For more information about my projects, see <a href="http://cdn.williamtdr.com/resume.pdf" target="_blank">my resumé</a>, or scroll down for a gallery.
				</p>
				<div class="social-links">
					<a class="link-twitter" target="_blank" href="https://twitter.com/williamtdr"><i class="fa fa-twitter"></i></a>
					<a class="link-stackoverflow" target="_blank" href="http://askubuntu.com/users/30405/william"><i class="fa fa-stack-overflow"></i></a>
					<a class="link-github" target="_blank" href="https://github.com/williamtdr"><i class="fa fa-github"></i></a>
					<a class="link-email" target="_blank"><i class="fa fa-envelope-o"></i></a>
				</div>
			</div>
			<div id="intro-after">
				<a href="#about" class="btn btn-circle page-scroll">
					<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</header>

<section id="about" class="container content-section text-center">
	<div class="about-section">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2" id="bio-container">
				<div class="col-md-6">
					<h3>Work History</h3>
					<ul class="bio-listing">
						<li>
							<span class="bio-heading">Hydreon Corporation</span>
							<div class="bio-content">
								Co-created the first competitive mobile community game server
								network. Spanned 300 physical machines in two datacenters, serving
								over ten million players and forty-seven thousand concurrently.
								Maintained the game server software, custom plugins, database and API
								endpoints, and custom loadbalancer. Used Route 53, Docker, Ansible,
								and PHP.
							</div>
						</li>
						<li>
							<span class="bio-heading">Bloomington Public Schools</span>
							<div class="bio-content">
								Designed and developed a new mobile app for students and parents.
								Displayed upcoming events, lunch menus, and staff directories. During
								the second trimester, created a scheduling application for students’
								flexible time. Allowed students to select a place to go when not
								selected by a teacher, and describe what they were going to do.
							</div>
						</li>
						<li>
							<span class="bio-heading">StudentRND</span>
							<div class="bio-content">
								Student volunteer, helping to organize and improve <a href="http://codeday.org" target="_blank">CodeDay</a>,
								a national event to get middle school through college aged students interested in coding.
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<h3>Activities</h3>
					<ul class="bio-listing">
						<li>
							<span class="bio-heading">FTC Robotics</span>
							<div class="bio-content">
								Lead programmer for Team #6369 Designosaurs for five years. Wrote code in ROBOTC and Java,
								in the 2015-2016 season our team received a Judge's award for our programming.
							</div>
						</li>
						<li>
							<span class="bio-heading">CodeDay</span>
							<div class="bio-content">
								Attended six events, organized one. Led five teams and said teams have won five awards.
								See some of our best projects in the gallery below.
							</div>
						</li>
					</ul>
					<h3 style="padding-top: 15px">Academics</h3>
					<ul class="bio-listing">
						<li>
							<span class="bio-heading">Senior Year in High School</span>
							<div class="bio-content">
								Will attend full-time college classes through Normandale Community College this upcoming semester.
								Using elective space to study Calculus and computer science.
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="projects" class="text-center">
	<div class="project-section">
		<div class="container">
			<h1>My Projects</h1>
			<h3 class="usage-instructions">Click on a thumbnail for more information, including videos, screenshot galleries, and live demos.</h3>
			<div class="projects row">
				{{#each projectsByAwesomeness}}
				<div class="project col-md-6">
					<a href="/project/{{{this.id}}}">
						<div class="project-image" style="background-image: url('{{{this.thumbnail}}}')"></div>
						<div class="project-footer">
							<div class="project-name">{{this.name}}</div>
							<div class="icons">
								<!-- <i class="hackathon-24h"></i> !-->
							</div>
						</div>
					</a>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</section>

<section id="tools" class="container text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Tools</h2>
			<p>Here are some self-hosted services I use to share content. Feel free to make use of them as well! Please make sure you own all rights to content posted.</p>
			<ul class="list-inline banner-social-buttons">
				<li>
					<a href="http://s.tdr.moe/" class="btn btn-default btn-lg"><i class="fa fa-link fa-fw"></i> <span class="network-name">Link Shortener</span></a>
				</li>
				<!--
				<li>
					<a href="http://p.tdr.moe/" class="btn btn-default btn-lg"><i class="fa fa-files-o fa-fw"></i> <span class="network-name">Paste Bin</span></a>
				</li>
				<li>
					<a href="http://i.tdr.moe/" class="btn btn-default btn-lg"><i class="fa fa-picture-o fa-fw"></i> <span class="network-name">Image Hosting</span></a>
				</li>
				!-->
			</ul>
		</div>
	</div>
</section>

<footer>
	<div class="container text-center">
		<p>&copy; William Teder 2016.</p>
	</div>
</footer>
</body>