<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="animsition zoom-in-sm" data-animsition-in-duration="750">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">
				<span class="light">William Teder</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li><a class="page-scroll" href="#about">About</a></li>
				<li><a class="page-scroll" href="#projects">My Projects</a></li>
				<li><a class="page-scroll" href="#activities">Activities</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Intro Header -->
<header class="intro">
	<div class="intro-body">
		<div class="container">
			<div id="intro-right">
				<h1 id="leading-heading" class="intro-heading">Hey, I'm William.</h1>
				<p>
					I love making web apps, attending hackathons, and curating my music collection. I'm most known for my work on the <a href="http://cdn.tdr.moe/resume.pdf" target="_blank">Lifeboat Network</a> for Minecraft PE, co-founding it and bringing it to over ten million registered players. For more information about my professional work, see <a href="http://cdn.tdr.moe/resume.pdf" target="_blank">my resumé</a>. If you scroll down, I've picked out some of my favorite projects for you to check out. Thanks for stopping by!
				</p>
				<div class="social-links">
					<a class="link-twitter" target="_blank" href="https://twitter.com/williamtdr"><i class="fa fa-twitter"></i></a>
					<a class="link-stackoverflow" target="_blank" href="http://askubuntu.com/users/30405/william"><i class="fa fa-stack-overflow"></i></a>
					<a class="link-github" target="_blank" href="https://github.com/williamtdr"><i class="fa fa-github"></i></a>
					<a class="link-email" target="_blank"><i class="fa fa-envelope-o"></i></a>
				</div>
			</div>
			<div id="intro-after">
				<a href="#about" class="btn btn-circle page-scroll">
					<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</header>

<section id="projects" class="text-center">
	<div class="project-section">
		<div class="projects row">
			{{#each projectsByAwesomeness}}
				<div class="col-md-4">
					<a href="/project/{{{this.id}}}" class="project" style="background-image: url('{{{this.thumbnail}}}')">
						<div class="project-footer">
							<div class="project-name">{{this.name}}</div>
							<div class="short-desc">
								SHORT DESC
							</div>
						</div>
					</a>
				</div>
			{{/each}}
		</div>
	</div>
</section>

<section id="activities" class="container content-section text-center">
	<div class="about-section">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1" id="bio-container">
				<div class="col-md-6">
					<h3>Work History</h3>
					<ul class="bio-listing">
						<li>
							<span class="bio-heading">Hydreon Corporation</span>
							<div class="bio-content">
								Co-created the first competitive mobile community game server
								network. Spanned 300 physical machines in two datacenters, serving
								over ten million players and forty-seven thousand concurrently.
								Maintained the game server software, custom plugins, database and API
								endpoints, and custom loadbalancer. Used Route 53, Docker, Ansible,
								and PHP.
							</div>
						</li>
						<li>
							<span class="bio-heading">Bloomington Public Schools</span>
							<div class="bio-content">
								Designed and developed a new mobile app for students and parents.
								Displayed upcoming events, lunch menus, and staff directories. During
								the second trimester, created a scheduling application for students’
								flexible time. Allowed students to select a place to go when not
								selected by a teacher, and describe what they were going to do.
							</div>
						</li>
						<li>
							<span class="bio-heading">StudentRND</span>
							<div class="bio-content">
								Student volunteer, helping to organize and improve <a href="http://codeday.org" target="_blank">CodeDay</a>,
								a national event to get middle school through college aged students interested in coding.
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<h3>Activities</h3>
					<ul class="bio-listing">
						<li>
							<span class="bio-heading">FTC Robotics</span>
							<div class="bio-content">
								Lead programmer for Team #6369 Designosaurs for six years. Wrote advanced computer vision algorithms to solve game challenges, and integrated sensor fusion systems for our autonomous period. During the 2016 season, I helped organize the team, managing expenses, organizing food for sessions when we went over dinner, and maintaining the space.
							</div>
						</li>
						<li>
							<span class="bio-heading">CodeDay</span>
							<div class="bio-content">
								Attended seven events, organized one. Led six teams and said teams have won five awards.
								See some of our best projects in the gallery below.
							</div>
						</li>
					</ul>
					<h3 style="padding-top: 15px">Academics</h3>
					<ul class="bio-listing">
						<li>
							<span class="bio-heading">Senior Year in High School</span>
							<div class="bio-content">
								Attending Normandale Community College through Minnesota's PSEO program, for concurrent HS and College enrollment. Studying Computer Science, Calculus and Humanities courses.
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container text-center">
		<p>&copy; William Teder 2016. Website source code is available <a href="https://github.com/williamtdr/williamtdr.com" target="_blank">on GitHub</a>.</p>
	</div>
</footer>
</body>