/* Fixes initial animation flash */
.animsition {
	display: none;
}

#avatar {
	width: 180px;
	height: 180px;
	background-image: url("http://cdn.tdr.moe/avatar.png");
	background-size: 100% 100%;
	border-radius: 90px;
	float: left;
	display: inline-block;
}

.intro-heading {
	font-family: "Open Sans", serif;
	text-align: left;
	text-transform: none;
}

#leading-heading {
	font-weight: 700;
	margin-bottom: 25px;
}

#following-heading {
	font-weight: 400;
}

.project-section > h1 {
	margin-bottom: 18px !important;
}

.usage-instructions {
	color: #94e3e0;
	font-weight: 400;
	font-size: 1.2em;
	width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.8;
	text-transform: none;
	margin-bottom: 50px;
}

#intro-left, #intro-right {
	display: block;
}

#intro-left {
	float: left;
	margin-right: 30px;
	color: #E5E5E5;
}

#intro-after {
	margin-top: 90px;
}

#intro-right {
	max-width: 500px;
	margin-top: 50px;
}

#intro-right > p {
	text-align: left;
	font-size: 1.2em;
	margin-top: 20px;
}

.social-links {
	text-align: left;
}

.social-links > a {
	margin-right: 15px;
}

.social-links > a > .fa {
	font-size: 1.5em;
	cursor: pointer;
	transition: .25s;
}

.social-links > a > .fa:hover {
	color: #E5E5E5;
}

.fa-twitter {
	color: #3498db;
}

.fa-stack-overflow {
	color: #e67e22;
}

.fa-github {
	color: #95a5a6;
}

.fa-envelope-o {
	color: #2ecc71;
}

.project {
	width: calc(100% - 20px);
	margin-bottom: 20px;
	margin-left: 10px;
	height: 260px;
	display: block;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
	background-size: auto 100%;
	background-position: center;
}

.project > a {
	text-decoration: none;
}

.project > a > img {
	padding: 15px;
	width: 100%;
}

.projects {
	width: calc(100% - 20px);
	margin-left: 10px;
}

.projects > div {
	padding: 0;
}

.project-footer:before {
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.8)), rgba(0, 0, 0, 0) no-repeat 100% bottom fixed;
	content: " ";
	display: block;
	height: 5px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 45px;
}

.project-footer {
	height: 45px;
	padding: 8px 18px;
	text-decoration: none;
	bottom: 20px;
	position: absolute;
	width: calc(100% - 20px);
	background: rgba(0, 0, 0, 0.8);
}

.project-name {
	font-size: 1.4em;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: white;
	transition: .25s;
	float: left;
}

.short-desc {
	float: right;
	color: #bdc3c7;
	margin-top: 5px;
}

.short-desc:hover {
	color: #bdc3c7;
}

.hackathon-24h {
	background-image: url("http://cdn.tdr.moe/williamtdr.com/24h.png");
	background-size: 100% 100%;
	width: 25px;
	height: 25px;
	display: block;
}

.icons {
	float: right;
	display: inline-block;
}

.project-image {
	width: 100%;
	height: 320px;
	background-size: cover;
	background-position: center;
}

li > a {
	transition: .25s !important;
}

#bio-container > div > h3 {
	color: #b5d9fb;
	text-transform: none;
	text-align: left;
	margin-bottom: 15px;
	border-bottom: 1px dotted #95a5a6;
	line-height: 1.8;
}

#bio-container > div > {
	width: 100%;
}

#activities {
	padding-top: 50px !important;
}

.bio-listing {
	padding-left: 0;
	list-style-type: none;
	text-align: left;
	margin-bottom: 30px;
}

.bio-listing > li {
	padding: 0 10px;
	margin-bottom: 15px;
}

.bio-content {
	margin-top: 5px;
	line-height: 1.7;
}

.bio-heading {
	color: #A2FBA9;
	font-size: 1.4em;
}

@media(max-width: 768px) {
	#activities {
		height: auto;
		padding-bottom: 15px;
	}

	.usage-instructions {
		width: auto;
		text-align: left;
	}
}

@media(max-width: 500px) {
	.project-image {
		height: 280px;
	}
}