body {
	font-family: "Lato", sans-serif;
}

nav {
	background-color: black;
}

#background_shader {
	opacity: 1;
}

.arrowhead {
	font-size: 0.4em;
	color: #bdc3c7;
	vertical-align: 15%;
}

a {
	text-decoration: none;
	color: #2c89c6;
	transition: .25s;
}

a:hover {
	color: #3498db;
}

.demo-link {
	display: block;
	font-size: 1.4em;
	font-weight: 700;
	color: #2ecc71;
	margin-bottom: 30px;
	transition: .25s;
}

.demo-link:hover {
	color: #2ee686;
}

.breadcumb-sep {
	color: #bdc3c7;
}

.breadcrumb-nav {
	color: #2ecc71;
}

#slides {
	display: none;
}

.project-content {
	margin-top: 50px;
	margin-bottom: 30px;
	line-height: 1.4;
}

h1 {
	margin: 10px 0;
	color: #1abc9c;
}

ul {
	list-style-type: none;
	padding-left: 10px;
}

.tag-header {
	color: #2980b9;
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 10px;
	display: block;
}

.tag {
	color: white;
	display: inline-block;
	background-color: #2c3e50;
	padding: 3px 8px;
	margin-right: 5px;
	border-radius: 3px;
}

/* style custom navigation */
#slides ul { padding: 0; margin: 0; }
#slides li { list-style: none; float: left; margin-right: .25em; font-family: monospace; }
#slides li a { display: block; background: #399; padding: .25em 1em; color: #fff; text-decoration: none; border-radius: 0 0 .25em .25em; }

/* style slideshow */
#slides { display: none }

@media(min-width: 768px) {
	.navbar-header {
		float: none;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}
}

.navbar-collapse.collapse.in {
	display: block!important;
}

.navbar-header > button {
	background-color: black;
	border: none;
	outline: none;
}